<div class="container-fluid;">

  <h2 style="text-align:center">Artists list</h2>
  <div class="topBtns">
    <app-add-artist></app-add-artist>

    <select (change)="sortBy($event)">
      <option value="artist_name">Artist Name</option>
      <option value="artist_id"> Artist ID</option>
      <option value="birth">Birth</option>
    </select>

    <button class="btn btn-outline-secondary asc" (click)="sharedDataService.updateIsAsc()">asc/desc</button>
  </div>

  <table class=" table">
    <tr>
      <th>Image</th>
      <th>id</th>
      <th>Name</th>
      <th>Birth</th>
      <th>Songs List</th>
      <th>Actions</th>
    </tr>

    <tr
      *ngFor="let artist of sharedDataService.artists.value| sort:[sharedDataService.sortByFild.value,sharedDataService.isAsc.value]"
      style="border-bottom: solid 1px beige;">

      <td class="profil_img">
        <img class="imgStyle" src="{{ artist.image }}" alt="">
      </td>

      <td>{{ artist.artist_id }}</td>
      <td>{{ artist.artist_name }}</td>
      <td>{{ artist.birth.slice(0, 10) }}</td>

      <td>
    <tr class="inner_tr d-flex justify-content-between" *ngFor="let song of artist.songs">
      <td>{{ song }}</td>
      <td> <button class="btn btn-sm" (click)="deleteArtistSong(song,artist.artist_id)">
          <img src="../assets/delete_black_24dp.svg" alt="" /></button>
      </td>
    </tr>
    <tr class="w-50 inner_tr">
      <input type="text" #song />
      <button class="btn btn-outline-success btn-sm" (click)="addNewArtistSong(artist.artist_id,song ); song.value=''">
        add song</button>
    </tr>
    </td>
    <td>
      <button class=" btn btn-outline-danger btn-sm" (click)="deleteArtist(artist.artist_id)">Delete Artist</button>
    </td>

    </tr>
  </table>

  <app-add-artist></app-add-artist>
</div>