<div class="container-fluid;">

  <h2 style="text-align:center">Artists list</h2>
  <div class="topBtns">
    <button class="btn btn-outline-primary btn-sm m-3" (click)="open(content)">Add Artist</button>

    <select (change)="sortBy($event)">
      <option value="artist_name">Artist Name</option>
      <option value="artist_id"> Artist ID</option>
      <option value="birth">Birth</option>
    </select>

    <button class="btn btn-outline-secondary asc" (click)="isAsc=!isAsc">asc/desc</button>
  </div>

  <table class=" table">
    <tr>
      <th>Image</th>
      <th>id</th>
      <th>Name</th>
      <th>Birth</th>
      <th>Songs List</th>
      <th>Actions</th>
    </tr>

    <tr *ngFor="let artist of artists| sort:[sortByFild,isAsc]" style="border-bottom: solid 1px beige;">

      <td class="profil_img">
        <img class="imgStyle" src="{{ artist.image }}" alt="">
      </td>

      <td>{{ artist.artist_id }}</td>
      <td>{{ artist.artist_name }}</td>
      <td>{{ artist.birth.slice(0, 10) }}</td>

      <td>
    <tr class="inner_tr d-flex justify-content-between" *ngFor="let song of artist.songs">
      <td>{{ song }}</td>
      <td> <button class="btn btn-sm" (click)="deleteArtistSong(song,artist.artist_id)">
          <img src="../assets/delete_black_24dp.svg" alt="" /></button>
      </td>
    </tr>
    <tr class="w-50 inner_tr">
      <input type="text" #song />
      <button class="btn btn-outline-success btn-sm" (click)="addNewArtistSong(artist.artist_id,song ); song.value=''">
        add song</button>
    </tr>
    </td>
    <td>
      <button class=" btn btn-outline-danger btn-sm" (click)="deleteArtist(artist.artist_id)">Delete Artist</button>
    </td>

    </tr>
  </table>

  <button class="btn btn-outline-primary btn-sm m-3" (click)="open(content)">Add Artist</button>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Artist Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="artist_id">Artist ID</label>
        <input placeholder="enter artist id" class="form-control" type="text" #artist_id />
        <label for="artist_name">Artist Name</label>
        <input placeholder="enter artist name" class="form-control" type="text" #artist_name />
        <label for="birth">Artist Birth</label>
        <input placeholder="enter birth" class="form-control" type="date" #birth />
        <label for="songs">Artist Image</label>
        <input placeholder="https://yourImage.svg" class="form-control" type="url" #image />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="addNewArtist(artist_id,artist_name,birth,image); modal.close('Save click') ">Save</button>
  </div>
</ng-template>